.abyss-base {
	position: relative;
	background: url("/genshin/adachi-assets/resource/abyss/top-background.webp") top #13132b no-repeat;
	background-size: contain;
	overflow: hidden;
}

.abyss-base::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 70px solid;
	border-image-source: url("/genshin/adachi-assets/resource/card/card-base-bg.webp");
	border-image-slice: 70 fill;
	filter: brightness(200%);
	opacity: 0.6;
}

.abyss-base .uid {
	position: absolute;
	font-size: 20px;
	color: #fff;
	left: 64px;
	top: 60px;
}

.abyss-base .footer {
	margin: 42px 62px;
	font-size: 24px;
	color: #fff;
	text-align: right;
}