.wish-box {
	position: relative;
	width: 86px;
	height: 518px;
}

.wish-box .box-background {
	width: 100%;
	height: 100%;
}

.wish-box :is(.character, .weapon) {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.wish-box .main {
	position: relative;
	z-index: 1;
	width: 82px;
}

.wish-box :is(.type, .main, .rank) {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.wish-box .rank {
	width: 61px;
	top: 396px;
}

.character .type {
	width: 44px;
	top: 344px;
}

.character .main {
	top: 76px;
	height: 363px;
}

.weapon .main {
	top: 98px;
	z-index: 1;
}

.weapon .shadow {
	margin-left: 3px;
	transform: translate(-50%, 8px);
	filter: brightness(0%);
	opacity: 0.72;
	z-index: 0;
}

.weapon .type {
	width: 56px;
	top: 334px;
}

.wish-box .times {
	position: absolute;
	width: 64px;
	font-size: 15px;
	left: 10px;
	top: 449px;
	color: rgb(220, 220, 220);
	background-color: rgba(64, 64, 64, 0.3);
	text-align: center;
}

/* 区分武器种样式 */
.weapon .main {
	top: 140px;
	width: 80%;
	height: 240px;
	object-fit: contain;
}

/*!* 特殊情况特殊对待（你都爬了些什么东西啊） *!*/
.weapon.祭礼剑 .main {
	top: 132px;
	transform: translateX(-50%) scale(2.7);
}
.weapon.讨龙英杰谭 .main {
	top: 190px;
	left: 17px;
	width: 140%;
}